// gray scale
$white: #fff;
$gray-1: #f7f7f7;
$gray-2: #e7e7e7;
$gray-3: #bfbfbf;
$gray-4: #808080;
$gray-5: #404040;
$gray-6: #212121;
$black: #000;

// colors
$color-brand: #67358B;
$brand-light: #A152D9;
$brand-dark: #422259;

$blue: #32A7E0;
$green: #61DE83;
$orange: #EDBD52;
$red: #E05050;

$text-dark: #212121;
$text-light: #fff;

// fonts
$font-sans-serif: 'Roboto', helvetica, sans-serif;
$font-monospace: 'Roboto Mono', monospace;
$font-serif: 'Roboto Slab', serif;


